{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>add</title>
    
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/static/temp/css/style.css" />
  </head>
  <body  class="img js-fullheight"
    style="background-image: url(/static/temp/images/bgf.avif)">










 <section class="ftco-section" >
      <div class="container">
        <div class="row justify-content-center">

        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
<form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                      <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter food name"
            name="name"
          />
        </div>
                <div class="mb-3">
          <label for="about" class="form-label">About</label>
          <input
            type="text"
            class="form-control"
            placeholder="Write about food"
            name="about"
          />
        </div>
         <div class="mb-3">
          <label for="img" class="form-label">Choose img</label>
          <input name="img" type="file" class="form-control" />
        </div>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                   Submit
                  </button>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </section>




   

    



    <script src="/static/temp/js/jquery.min.js"></script>
    <script src="/static/temp/js/popper.js"></script>
    <script src="/static/temp/js/bootstrap.min.js"></script>
    <script src="/static/temp/js/main.js"></script>


  </body>
</html>
